<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15585823930-u46hqlmijo7qsm2vpidpe8pkosgf9mlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15585823930-u46hqlmijo7qsm2vpidpe8pkosgf9mlp</string>
	<key>API_KEY</key>
	<string>AIzaSyDAJoJYrGID0vZATjcyGnbPOE0Bkp5KVFU</string>
	<key>GCM_SENDER_ID</key>
	<string>15585823930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteApp</string>
	<key>PROJECT_ID</key>
	<string>note-e4fd3</string>
	<key>STORAGE_BUCKET</key>
	<string>note-e4fd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15585823930:ios:5e9d9f3bae38601a324683</string>
</dict>
</plist>